<h1>Bienvenido a la Landing SPA</h1>
<p>Esta es una SPA hecha sin frameworks. HOME </p>

<article>
  <label for="">
    <meter
      min="0"
      max="100"
      value="90"
      low="30"
      high="80"
      optimum="50"
    >
      70%
    </meter>
  </label>

  <pre >
<code>
    &lt;label for=""&gt;
    &lt;meter
        min="0"
        max="100"
        value="90"
        low="30"
        high="80"
        optimum="50"&gt;
        70%
    &lt;/meter&gt;
    &lt;/label&gt;
</code>
  </pre>
</article>
